
    #prvi {
        height: 100px;
        width:  300px;
        background-color:  red;
    }

    #drugi {
        height: 100px;
        width:  300px;
        background-color:burlywood;
    }

    #treci {
        height: 100px;
        width:  300px;
        background-color: teal;
    }
